.mainrow {display:flex;
    justify-content:baseline;
    font-weight: bold;
    padding: 50px;
    gap: 200px;
    column-width: 25%
   ;
}

.row{display: flex;
justify-content:flex-start;
padding: 50px;
gap:100px;
flex-wrap: wrap;
flex-direction: row;}

.spacer {
    width:30px;
    
}


