.flexbox {
display:flex;
flex-direction:row;
justify-content:center;
align-items: center;}

.mainrow {display:flex;
flex-direction: row;
gap: 150px;
justify-content: stretch;
margin: 20px;
}

.row {display:flex;
flex-direction:row;
gap:50px; 
}

.spacer {width:50px;
}