.flexbox {
display:flex;
flex-direction:row;
justify-content:center;
align-items: center;
margin: 20px;}

.mainrow {display:flex;
flex-direction: row;
gap: 130px;
justify-content: flex-start;
margin: 20px;
font-weight: bold;
}

.row {display:flex;
flex-direction:row;
gap:50px; 
}

.spacer-horizontal {width:200px;
    display:inline-block;
}